In [1]:
# Import Dependencies
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine
from config import password

In [2]:
# Create postgres engine and connect
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Project2AQI")
conn = engine.connect()

In [21]:
# LA - Import raw/uncleaned cvs files 
dataLA = pd.read_csv("Resources/aqiDailyLA.csv")

In [22]:
# View dataLA types
dataLA.dtypes

Date                           object
Overall_AQI_Value               int64
Main Pollutant                 object
Site Name (of Overall AQI)     object
Site ID (of Overall AQI)       object
Source (of Overall AQI)        object
CO                            float64
Ozone                           int64
SO2                           float64
PM10                          float64
PM25                            int64
NO2                           float64
dtype: object

### Cleaning all 10 csv files for each city

In [23]:
# Add latitude and longitude for LA
dataLA["lat"] = 34.0522
dataLA["lon"] = -118.2437

# Add City name
dataLA["city_name"] = "Los_Angeles"

# Add shelter in place date
dataLA["state_ordinance"] = "2020-03-23"

# Changed date colume from object to datetime
dataLA["Date"] = pd.to_datetime(dataLA["Date"])
dataLA["state_ordinance"] = pd.to_datetime(dataLA["state_ordinance"])

# Rename columns
dataLA = dataLA.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [27]:
# Run head() and dtypes to check that changes took
# dataLA.head()
dataLA.dtypes

date                 datetime64[ns]
Overall_AQI_Value             int64
main_pollutant               object
site_name                    object
site_id                      object
source_aqi                   object
co                          float64
ozone                         int64
so2                         float64
pm10                        float64
pm25                          int64
no2                         float64
lat                         float64
lon                         float64
city_name                    object
state_ordinance      datetime64[ns]
dtype: object

In [7]:
# Import raw/uncleaned cvs files 

dataBoise = pd.read_csv("Resources/aqiDailyBoise.csv")
dataNewOrleans = pd.read_csv("Resources/aqiDailyNewOrleans.csv")
dataNY = pd.read_csv("Resources/aqiDailyNY.csv")
dataPortland = pd.read_csv("Resources/aqiDailyPortland.csv")
dataSeattle = pd.read_csv("Resources/aqiDailySeattle.csv")

dataMilwaukee = pd.read_csv("Resources/aqiDailyMilwaukee.csv")
dataIndianapolis = pd.read_csv("Resources/aqiDailyIndianapolis.csv")
dataDetroit = pd.read_csv("Resources/aqiDailyDetroit.csv")
dataColumbus= pd.read_csv("Resources/aqiDailyColumbus.csv")

In [8]:
# Add latitude and longitude for Boise
dataBoise["lat"] = 43.6150
dataBoise["lon"] = -116.2023
# Change name column value  
dataBoise["city_name"] = "Boise"
# Add state ordinance
dataBoise["state_ordinance"] = "2020-03-25"
# Changed date colume from object to datetime
dataBoise["Date"] = pd.to_datetime(dataBoise["Date"])
dataBoise["state_ordinance"] = pd.to_datetime(dataBoise["state_ordinance"])
dataBoise = dataBoise.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [9]:
# Add latitude and longitude for Columbus
dataColumbus["lat"] = 39.9612
dataColumbus["lon"] = -82.9988
# RendataLAame column value  
dataColumbus["city_name"] = "Columbus"
# Add state ordinance
dataColumbus["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataColumbus["Date"] = pd.to_datetime(dataColumbus["Date"])
dataColumbus["state_ordinance"] = pd.to_datetime(dataColumbus["state_ordinance"])

dataColumbus = dataColumbus.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [10]:
# Add latitude and longitude for Detroit
dataDetroit["lat"] = 42.3314
dataDetroit["lon"] = -83.0458
# RendataLAame column value  
dataDetroit["city_name"] = "Detroit"
# Add state ordinance
dataDetroit["state_ordinance"] = "2020-03-24"
# Changed date colume from object to datetime
dataDetroit["Date"] = pd.to_datetime(dataDetroit["Date"])
dataDetroit["state_ordinance"] = pd.to_datetime(dataDetroit["state_ordinance"])

dataDetroit = dataDetroit.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [11]:
# Add latitude and longitude for Milwaukee
dataMilwaukee["lat"] = 43.0389
dataMilwaukee["lon"] = -87.9065
# RendataLAame column value  
dataMilwaukee["city_name"] = "Milwaukee"
# Add state ordinance
dataMilwaukee["state_ordinance"] = "2020-03-25"
# Changed date colume from object to datetime
dataMilwaukee["Date"] = pd.to_datetime(dataMilwaukee["Date"])
dataMilwaukee["state_ordinance"] = pd.to_datetime(dataMilwaukee["state_ordinance"])

dataMilwaukee = dataMilwaukee.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [12]:
# Add latitude and longitude for NewOrleans
dataNewOrleans["lat"] = 29.9511
dataNewOrleans["lon"] = -90.0715
# RendataLAame column value  
dataNewOrleans["city_name"] = "New_Orleans"
# Add state ordinance
dataNewOrleans["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataNewOrleans["Date"] = pd.to_datetime(dataNewOrleans["Date"])
dataNewOrleans["state_ordinance"] = pd.to_datetime(dataNewOrleans["state_ordinance"])

dataNewOrleans = dataNewOrleans.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [13]:
# Add latitude and longitude for NY
dataNY["lat"] = 40.7128
dataNY["lon"] = -74.0060
# RendataLAame column value  
dataNY["city_name"] = "New_York"
# Add state ordinance
dataNY["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataNY["Date"] = pd.to_datetime(dataNY["Date"])
dataNY["state_ordinance"] = pd.to_datetime(dataNY["state_ordinance"])

dataNY = dataNY.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [14]:
# Add latitude and longitude for Portland
dataPortland["lat"] = 45.5051
dataPortland["lon"] = -122.6750
# RendataLAame column value  
dataPortland["city_name"] = "Portland"
# Add state ordinance
dataPortland["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataPortland["Date"] = pd.to_datetime(dataPortland["Date"])
dataPortland["state_ordinance"] = pd.to_datetime(dataPortland["state_ordinance"])

dataPortland = dataPortland.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [15]:
# Add latitude and longitude for Seattle
dataSeattle["lat"] = 47.6062
dataSeattle["lon"] = -122.3321
# RendataLAame column value  
dataSeattle["city_name"] = "Seattle"
# Add state ordinance
dataSeattle["state_ordinance"] = "2020-03-23"
# Changed date colume from object to datetime
dataSeattle["Date"] = pd.to_datetime(dataSeattle["Date"])
dataSeattle["state_ordinance"] = pd.to_datetime(dataSeattle["state_ordinance"])

dataSeattle = dataSeattle.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [16]:
# Add latitude and longitude for Indianapolis
dataIndianapolis["lat"] = 39.7684
dataIndianapolis["lon"] = -86.1581
# RendataLAame column value  
dataIndianapolis["city_name"] = "Indianapolis"
# Add state ordinance
dataIndianapolis["state_ordinance"] = "2020-03-24"
# Changed date colume from object to datetime
dataIndianapolis["Date"] = pd.to_datetime(dataIndianapolis["Date"])
dataIndianapolis["state_ordinance"] = pd.to_datetime(dataIndianapolis["state_ordinance"])

dataIndianapolis = dataIndianapolis.rename(columns= {"Date": "date",
                                 "Overall AQI Value": "overall_aqi_value",
                                 "Main Pollutant": "main_pollutant",
                                 "Site Name (of Overall AQI)": "site_name",
                                 "Site ID (of Overall AQI)": "site_id",
                                 "Source (of Overall AQI)": "source_aqi",
                                 "CO": "co",
                                 "Ozone": "ozone",
                                 "SO2": "so2",
                                 "PM10": "pm10",
                                 "PM25": "pm25",
                                 "NO2": "no2"})

In [17]:
dataIndianapolis.head()

,date,overall_aqi_value,main_pollutant,site_name,site_id,source_aqi,co,ozone,so2,pm10,pm25,no2,lat,lon,city_name,state_ordinance
0,2020-01-01,33,Ozone,Helmsburg,18-013-0001,AQS,2,33,1,15,28,8,39.7684,-86.1581,Indianapolis,2020-03-24
1,2020-01-02,35,PM2.5,Indpls- W. 18th St./ Ernie Pyle School 90,18-097-0081,AQS,2,32,1,14,35,16,39.7684,-86.1581,Indianapolis,2020-03-24
2,2020-01-03,71,PM2.5,Indpls.- I 70,18-097-0087,AQS,5,17,0,21,71,23,39.7684,-86.1581,Indianapolis,2020-03-24
3,2020-01-04,51,PM2.5,Indpls- Washington Park/ in parking lot next ...,18-097-0078,AQS,3,29,0,15,51,8,39.7684,-86.1581,Indianapolis,2020-03-24
4,2020-01-05,31,Ozone,Helmsburg,18-013-0001,AQS,2,31,1,9,26,17,39.7684,-86.1581,Indianapolis,2020-03-24

In [18]:
# To load to postgreSQL and add date as PK to each table
dataLA.to_sql("la", con=conn, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute("ALTER TABLE la ADD PRIMARY KEY (date);")
    
dataBoise.to_sql("boise", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE boise ADD PRIMARY KEY (date);")
    
dataColumbus.to_sql("columbus", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE columbus ADD PRIMARY KEY (date);")
    
dataDetroit.to_sql("detroit", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE detroit ADD PRIMARY KEY (date);")

dataMilwaukee.to_sql("milwaukee", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE milwaukee ADD PRIMARY KEY (date);")
    
dataNewOrleans.to_sql("neworleans", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE neworleans ADD PRIMARY KEY (date);")
    
dataNY.to_sql("ny", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE ny ADD PRIMARY KEY (date);")
    
dataPortland.to_sql("portland", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE portland ADD PRIMARY KEY (date);")
    
dataSeattle.to_sql("seattle", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE seattle ADD PRIMARY KEY (date);")
    
dataIndianapolis.to_sql("indianapolis", con=conn)
with engine.connect() as con:
    con.execute("ALTER TABLE indianapolis ADD PRIMARY KEY (date);")